extends layout
block content
    .container
        .starter-template
            h1 Challenge - II:
            p.lead Add a MongoDB database to your Express app with the ability to create, edit and view records.This is an extension of the first challenge.

            a(class='btn tabbtn',href='/listcustomers') View all customers

            form(class='.bs-docs-example .form-horizontal' method="POST", action="/addnewCustomer")

                div.control-group
                    label(class="control-label") Email:
                    div.controls
                    input(type="text", placeholder='Name' name="name" required)

                div.control-group
                    label(class="control-label") Email:
                    div.controls
                        input(type="email",placeholder='Email' name="email" required)

                div.control-group
                    label(class="control-label") Age:
                    div.controls
                        input(type="number", placeholder='Age' name="age" required)

                div.control-group
                     label(class="control-label")
                     div.controls
                        input(class='btn btn-primary' type="submit")
